<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= "hello".toUpperCase() %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. At reiciendis vero facilis, 
        recusandae impedit et error sint libero natus 
        earum maiores ad eligendi commodi neque, rem, ab 
        soluta explicabo temporibus.</p>
        <button>Click me!</button>
</body>
</html>